<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ExpressionsToBlock" type="IPBan.ExpressionsToBlockConfigSectionHandler, IPBan" />
  </configSections>
  
  <!--
    Setup expressions to block
    You may specify the keywords to look for as well as an array of ExpressionsToBlockGroup objects.
    In each group there is xpath and a regex.
    All must match in the event for it to be filtered, and at least one regex must have an ipaddress group to pull out the ip address to block.
  -->
  <ExpressionsToBlock>
    <Groups>
      <!-- This group will block audit failures from failed login attempts to Windows -->
      <Group>
        <Keywords>0x8010000000000000</Keywords>
        <Path>Security</Path>
        <Expressions>
          <Expression>
            <XPath>//Data[@Name='IpAddress']</XPath>
            <Regex><![CDATA[
              (?<ipaddress>.+)
            ]]>
            </Regex>
          </Expression>
        </Expressions>
      </Group>
      <!-- This group will block audit failures from failed login attempts to MSSQLSERVER -->
      <Group>
        <Keywords>0x90000000000000</Keywords>
        <Path>Application</Path>
        <Expressions>
          <Expression>
            <XPath>//Provider[@Name='MSSQLSERVER']</XPath>
            <Regex></Regex>
          </Expression>
          <Expression>
            <XPath>//Data</XPath>
            <Regex>
              <![CDATA[
              Client: ?(?<ipaddress>.+)
            ]]>
            </Regex>
          </Expression>
        </Expressions>
      </Group>
    </Groups>
  </ExpressionsToBlock>
  
  <appSettings>

    <!-- Number of failed audits in the event viewer before banning the ip address -->
    <add key="FailedLoginAttemptsBeforeBan" value="5" />

    <!-- The duration of time to ban a failed ip address (DD:HH:MM:SS) -->
    <add key="BanTime" value="01:00:00:00" />

    <!-- The file to store banned ip addresses in -->
    <add key="BanFile" value="banlog.txt" />

    <!-- The time between cycles to do house-keeping such as un-banning ip addresses, reloading config, etc. (DD:HH:MM:SS) -->
    <add key="CycleTime" value="00:00:00:15" />

    <!-- Prefix for windows firewall rule to block the ip address (i.e. BlockIPAddress195.55.12.33, the ip address is appended automatically)-->
    <add key="RulePrefix" value="BlockIPAddress" />

    <!-- Comma separated list of ip addresses that are never banned -->
    <add key="Whitelist" value="" />

  </appSettings>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
</configuration>
