<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ExpressionsToBlock" type="IPBan.ExpressionsToBlockConfigSectionHandler, IPBan" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <!--
    Setup expressions to block
    You may specify the keywords to look for as well as an array of ExpressionsToBlockGroup objects.
    In each group there is xpath and a regex.
    All must match in the event for it to be filtered, and at least one regex must have an ipaddress group to pull out the ip address to block.
  -->
  <ExpressionsToBlock>
    <Groups>
      <!-- This group will block audit failures from failed login attempts to Windows -->
      <Group>
        <Keywords>0x8010000000000000</Keywords>
        <Path>Security</Path>
        <Expressions>
          <Expression>
            <XPath>//Data[@Name='IpAddress']</XPath>
            <Regex><![CDATA[
              (?<ipaddress>.+)
            ]]>
            </Regex>
          </Expression>
        </Expressions>
      </Group>
      <!-- This group will block audit failures from failed login attempts to MSSQLSERVER -->
      <Group>
        <Keywords>0x90000000000000</Keywords>
        <Path>Application</Path>
        <Expressions>
          <Expression>
            <XPath>//Provider[@Name='MSSQLSERVER']</XPath>
            <Regex></Regex>
          </Expression>
          <Expression>
            <XPath>//Data</XPath>
            <Regex>
              <![CDATA[
              \[Client: ?(?<ipaddress>.*?)\]
            ]]>
            </Regex>
          </Expression>
        </Expressions>
      </Group>
    </Groups>
  </ExpressionsToBlock>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="logfile.txt"/>
      <target name="console" xsi:type="Console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile" />
      <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
  </nlog>
  
  <appSettings>

    <!-- Number of failed audits in the event viewer before banning the ip address -->
    <add key="FailedLoginAttemptsBeforeBan" value="5" />

    <!-- The duration of time to ban a failed ip address (DD:HH:MM:SS) -->
    <add key="BanTime" value="01:00:00:00" />

    <!-- The file to store banned ip addresses in -->
    <add key="BanFile" value="banlog.txt" />

    <!-- The time between cycles to do house-keeping such as un-banning ip addresses, reloading config, etc. (DD:HH:MM:SS) -->
    <add key="CycleTime" value="00:00:00:15" />

    <!-- Rule name for Windows Firewall -->
    <add key="RuleName" value="BlockIPAddresses" />

    <!-- Comma separated list of ip addresses that are never banned -->
    <add key="Whitelist" value="127.0.0.1,::1,0.0.0.0,-" />

    <!--
      Regular expression for more advanced whitelisting. Shortcut: use * to allow any piece of an ip (i.e. 128.128.128.*).
      Sample regex that whitelists a few ips: ^(128\.128\.128\.*)|(99\.99\.99\.[0-9])$
      More info about regex: http://www.regular-expressions.info/    
    -->
    <add key="WhitelistRegex" value="" />

  </appSettings>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
</configuration>
