<?xml version="1.0"?>
<configuration>

  <!--
  Using this file you can override entries from the ipban.config file without modifying the original config
  Simply add your element here and it will be added to (or override any existing element) ipban.config automagically
  -->
  
  <LogFilesToParse>
    <LogFiles>
    </LogFiles>
  </LogFilesToParse>

  <ExpressionsToBlock>
    <Groups>
    </Groups>
  </ExpressionsToBlock>

  <ExpressionsToNotify>
    <Groups>
    </Groups>
  </ExpressionsToNotify>
  
  <appSettings>
  </appSettings>

</configuration>
